{% extends 'base.html' %}

{% block title %}
	test
{% endblock %}

{% block content %}
<a href="{{ url_for('game.new_game') }}">Rozpocznij gre</a>
	<div>

		<canvas id="game_board">

		</canvas>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/GameBoard.js') }}"></script>

{% endblock %}

{% block javascripts_body %}

<script type="text/javascript">
	var URL_GAME_MOVE = "{{ url_for('game.move') }}";
	var canvas = document.getElementById('game_board');

	let WIDTH = {{ board_width }};
	let HEIGHT = {{ board_height }};

	let gameBoard = new GameBoard(canvas, WIDTH, HEIGHT);


	let moveService = function(jsonResponse) {
		console.log(jsonResponse);
		gameBoard.redraw(jsonResponse);
	};

	gameBoard.redraw({{ board_state }});
	gameBoard.registerEvent(GameBoard.EVENT_CLICK, function(clicked) {
		let url = URL_GAME_MOVE+'?x='+clicked.x+'&y='+clicked.y;

		fetch(url)
			.then(function (response) {
				return response.json();
			})
			.then(moveService);
	});

</script>

{% endblock %}