<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %} - Othello</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}{% endblock %}
  {% block javascripts %}{% endblock %}
</head>

<body>

  {% for message in get_flashed_messages() %}
    <div class="flash">BLAD: {{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}


  {% block javascripts_body %}{% endblock %}
</body>
</html>
